<body>
  <main>
    <p id="notice"></p>
    <div class="container px-5 px-sm-0">
      <div class="row">
        <div class="col-md-3">
          <h2>User info</h2>
          <!--ユーザー画像を取得したい-->
          <table class="table">
            <tbody>
              <tr></tr>
              <tr>
                <th>name</th>
                <th><!--ユーザー取得したい--></th>
              </tr>
                <th>introduction</th>
                <th><!--ユーザー自己紹介--></th>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <!--ユーザーeditに飛ぶリンク. class: 'btn btn-outline-secondary btn-block' -->
          </div>
          <h2 class="mt-3">New book</h2>
          <%= form_with model: Book.new do |f| %>
          <div class="form-group">
            <label for="book_title">Title</label>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          <div class="form-group">
            <label for="book_opinion">Opinion</label>
            <%= f.text_area :body, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.submit 'Create Book', class: 'btn btn-success' %>
          </div>
          <% end %>
        </div>
        
        <!--ここにメインの右側ページも入れる-->
      </div>
    </div>
  </main>
</body>